@media only screen and (min-width: 1200px){
    /* APP BAR */
    ul{
      list-style-type: none;
      display: flex;
      flex-flow: column;
      gap: 2rem;
    }
    .nav-menu ul{ 
      display: flex;
      flex-flow: row;
      justify-content: end;
      font-size: 1.9rem;
    }
    .nav-menu a{
        text-decoration: none;
        color: whitesmoke;
    }
    .nav-menu a:hover{
        text-decoration: underline;
    }
    nav{
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
    
      height: auto;
      background-color: black;
      color: whitesmoke;
      padding: 2rem 2rem 2rem 2rem;
    }
    .nav-logo{
      display: flex;
      align-items: center;
    }
    .nav-logo-img{
      width: 3rem;
      height: 3rem;
    }
    .nav-logo-title{
      font-size: 2rem;
    }
    .nav-ham{
      display: none;
    }
    .nav-ham-icon{
      display: none;
    }
    
    /* OFFSCREEN MENU */
    .offscreen-menu{
      display: none;
    }
    
    /* JUMBOTRON */
    .jumbotron{
      background-image: url(../public/images/heros/hero-image_1.jpg);
      background-size: cover;
      min-width: 1000px;
      height: 650px;
      display: flex;
      flex-flow: column;
      gap: 0;
      align-items: center;
      justify-content: center;
    }
    
    .jumbotron-text{
      padding: 0.5rem 5rem 0.5rem 5rem;
      background-color: rgb(201, 201, 201, 0.5);
    }
    
    .jumbotron-text-title{
      font-size: 7.5rem;
      text-align: center;
    }
    
    .jumbotron-text-subtitle{
      font-size: 3rem;
      text-align: center;
      margin-top: -3.5rem;
      margin-bottom: 2rem;
    }
    
    /* INTRO CONTAINER */
    .intro{
      display: flex;
      align-items: center;
      gap: 1rem;
      background-color: #c9c9c9;
      padding: 15rem 5rem 15rem 5rem;
    }
    
    .intro-logo-img{
      width: 20rem;
      height: 20rem;
    }
    
    .intro-text{
      display: flex;
      flex-flow: column;
    }
    
    .intro-text-title{
      font-size: 5rem;
    }
    
    .intro-text-description{
      font-size: 2rem;
    }
    
    .katalog-subtitle{
      font-size: 2.5rem;
      text-align: center;
      color: whitesmoke;
      margin: 3rem 0rem 2rem 0rem;
    }
  
    /* RESTAURANT CATALOG */
    #jelajahi-restoran{
      font-size: 2.5rem;
      text-align: center;
      margin-top: 1rem;
      color: #c9c9c9;
    }
    .search-submit:hover{
      background-color: black;
      color: whitesmoke;
    }
    .catalog:hover{
      .catalog-image{
        filter: grayscale(0%);
      }
      .bintang{
        color: #ffd250;
      }
      .catalog-link{
        visibility: visible;
      }
    }
    .catalog-link{
      visibility: hidden;
      position: relative;
      width: 150px;
      min-height: 44px;
      z-index: 9999;
      top: 115px;
      margin-left: auto;
      margin-right: auto;
      background-color: rgb(245, 245, 245, 0.5);
      border-radius: 1rem;
      border: whitesmoke 2px solid;
    }
    .catalog-link a{
      text-decoration: none;
      color: black;
      font-weight: bold;
    }
    .catalog-link-mobile{
      display: none;
    }
    .catalog-image{
      display: flex;
      justify-items: center;
      position: relative;
  
      width: 100%;
      height: 250px;
      object-fit: cover;
      filter: grayscale(100%);
      transition: 100ms ease-in-out;
      bottom: 44px;
    }
    .catalog-text{
      position: relative;
      padding: 0.5rem;
      bottom: 44px;
    }
    .catalog-text-name{
      font-size: 1.5rem;
    }
    .catalog-text-city{
      font-size: 1rem;
    }
    .catalog-text-rating{
      font-size: 1rem;
    }
    .catalog-text-description{
      font-size: 1.25rem;
      font-weight: 350;
      text-align: justify;
      overflow: hidden;
      height: 150px;
      margin-top: 0.5rem;
    }
    .catalog-text-transition{
      height: 50px;
      position: relative;
      bottom: 50px;
      background-image: linear-gradient(to bottom, rgba(245,245,245,0), rgba(245,245,245,1));
    }
  
    /*DETAIL PAGE*/
    .content-container{
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding-top: 2.5rem;
      padding-bottom: 2.5rem;
      background-color: #c9c9c9;
    }
    .content-container-kanan{
      display: flex;
      flex-flow: column;
      padding-right: 2rem;
    }
    hr{
      margin-top: 1rem;
      margin-bottom: 1rem;
      border: 1px solid black;
    }
    .name{
      font-size: 2.5rem;
    }
    .image{
      max-width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
    .description p{
      text-align: justify;
    }
    .menus-container{
      display: none;
      transition: 100ms ease-in-out;
    }
    .menus-container.active{
      display: flex;
      gap: 5rem;
      transition: 100ms ease-in-out;
    }
    .menus-title{
      cursor: pointer;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .menus-title-plus{
      text-align: right;
      font-weight: bold;
    }
    .menus-foods-subtitle, .menus-drinks-subtitle{
      font-weight: 550;
      text-align: center;
    }
    .menus ul{
      list-style-type: circle;
      display: flex;
      flex-flow: column;
      gap: 0.5rem;
      margin-left: 1.5rem;
    }
    .review{
      padding-top: 1rem;
    }
    .review h3{
      text-align: center;
      font-size: 2rem;
      color: #c9c9c9;
    }
    .review-container{
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
      gap: 1rem;
      margin: 1rem;
      justify-items: center;
    }
    .review-container-item{
      display: flex;
      flex-flow: column;
      gap: 0.5rem;
      justify-content: center;
  
      width: 350px;
      background-color: whitesmoke;
      border-radius: 1rem;
      padding: 1rem 0.5rem 1rem 0.5rem;
    }
    .review-container-review{
      font-size: 1.25rem;
    }
    .review-container-bottom{
      font-size: 1rem;
    }
  }