*{
  margin: 0px;
  padding: 0px;
}

p, h1, h2, h3, h4, a{
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: #bf1722;
  color: white;
  padding: 8px;
  z-index: 100;
}
 
.skip-link:focus {
   top: 0;
}

body, html{
  min-width: fit-content;
  display: grid;
  background-color: #3C3C3C;
}

ul a{
  min-width: 44px;
  min-height: 44px;
}

.restaurant-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  justify-items: center;
  gap: 1rem;
  margin: 1rem;
}

.catalog{
  display: flex;
  flex-flow: column;

  background-color: whitesmoke;
  width: 100%;
  height: 500px;
}

.search{
  margin: 1rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1rem;
}
.search-input{
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  text-align: center;
  padding: 0.5rem;
  height: 44px;
  width: 75%;
  border-radius: 5rem;
  border: none;
  background-color: whitesmoke;
}
.search-submit{
  font-family: 'Poppins', sans-serif;
  font-size: 0.85rem;
  text-align: center;
  padding: 0.25rem;
  min-height: 44px;
  width: 125px;
  border-radius: 5rem;
  border: none;
  font-weight: bold;
  background-color: #c9c9c9;
}

.like{
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #db0000;
  
  position: fixed;
  bottom: 16px;
  right: 16px;
  border-radius: 50%;
  border: 0;
  
  font-size: 18px;
  color: white;
  cursor: pointer;
}
.review-tampil{
  display: flex;
  justify-content: center;
  margin: 1rem 0rem 1.5rem 0rem;
}
.addreview{
  display: none;
  flex-flow: column;
  gap: 1rem;
  margin: 1.5rem;
  align-items: center;
}
.addreview.active{
  display: flex;
}
.addreview-name, .addreview-review{
  width: 500px;
  padding: 1rem;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  border: none;
  background-color: whitesmoke;
}
.addreview-name{
  border-radius: 1.5rem;
}
.addreview-review{
  height: 350px;
  border-radius: 1rem;
}
.addreview-submit, .review-tampil-button{
  width: 150px;
  height: 44px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  border-radius: 5rem;
  border: none;
  background-color: #c9c9c9;
  cursor: pointer;
}
.addreview-submit:hover, .review-tampil-button:hover{
  background-color: black;
  color: whitesmoke;
}